.intro{
  text-align: center;
}

.intro, .h1{
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.body{
  background-color: darkgray;
}

.container{
  width: 35%;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.384);
  padding: 0 1rem 1rem;
  border-radius: 0.2rem;
  border: 2px solid gray;
  margin-bottom: 20px;
}

.name_container, .quote_container{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.name_container>input, .quote_container>input{
  height: 1.5rem;
}

.submit_btn{
  display: block;
  margin: 0.7rem, 0.5rem, 0 auto;
}